.button-border,
.button {
  border: 2px solid transparent;
  border-image: url("./assets/button-border.png") 2;
}

.button {
  box-sizing: border-box;
  background-image: url("./assets/button-background.png");
  background-size: 100%;
  color: #c9c9c9;
}

.button:hover {
  color: gold;
}
